sudo: required
services:
    - docker

before_install:
    - docker build -t brupedrosa/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true brupedrosa/docker-react npm run test

deploy:
    provider: elasticbeanstalk
    region: "us-west-1"
    app: "docker"
    env: "Docker-env"
    bucket_name: "elasticbeanstalk-us-west-1-757872685826"
    bucket_path: "docker"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_acces_key: $AWS_SECRET_KEY